.pagination {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.page {
  font-size: 20;
  padding: 0 12px;
  cursor: pointer;
  font-weight: 700;
}

.previous,
.next {
  font-size: 24;
  cursor: pointer;
}

.previous {
  margin-right: 12px;
}

.next {
  margin-left: 12px;
}

.activePage {
  background-color: #fff;
  color: black;
  border-radius: 20px;
}

.disabledPage {
  cursor: not-allowed;
}
